# Annoying OSX
.DS_Store

# XCode userdata
avalon.xcodeproj/xcuserdata/
avalon.xcodeproj/project.xcworkspace/xcuserdata/

# Doxygen
debug.txt
docs/

# Test runner
tests/runner
tests/libboost_unit_test_framework.*
