[submodule "external/chartboost"]
	path = external/chartboost
	url = https://github.com/wenbin1989/Chartboost-x.git
[submodule "external/boost"]
	path = external/boost
	url = ssh://git@bitbucket.org/MichaelContento/boost-mirror.git
