[submodule "vendors/boost"]
	path = vendors/boost
	url = https://github.com/michaelcontento/boost-mirror.git
[submodule "vendors/google/playgameservices/android-samples"]
	path = vendors/google/playgameservices/android-samples
	url = https://github.com/playgameservices/android-samples.git
[submodule "vendors/appirater-ios"]
	path = vendors/appirater-ios
	url = https://github.com/arashpayan/appirater.git
