[submodule "vendors/Chartboost-x"]
	path = vendors/Chartboost-x
	url = git@github.com:wenbin1989/Chartboost-x.git
[submodule "vendors/boost"]
	path = vendors/boost
	url = ssh://git@bitbucket.org/MichaelContento/boost-mirror.git
